/* Existing styles */
.product-template-detail {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.product-template-detail input, .product-template-detail select {
    margin-right: 10px;
}

#product_details_section {
    margin-top: 5px;
}

.variant-combination {
    align-items: center; /* Align children vertically */
    margin-bottom: 10px; /* Margin at the bottom of each variant combination */
}

.variant-combination select {
    flex-grow: 1; /* Dropdown takes up the available space */
    margin-right: 10px; /* Margin between the dropdown and the button */
}

.variant-combination button {
    white-space: nowrap; /* Prevent the button text from wrapping */
}

.controls-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.controls-container select {
    flex-grow: 1;
    margin-right: 10px;
}

.controls-container button {
    white-space: nowrap;
}

.pickup-address-section {
    margin-bottom: 10px;
}

.input-pickup-address {
    display: block;
    margin-bottom: 20px; /* Adjust this value to increase space below the input field */
}

#pickup_address {
    margin-top: 10px;
    width: 100%;
}

.submit-button {
    display: block; /* Makes the button a block element, which allows for width and margin auto */
    width: 50%; /* Adjust as needed */
    padding: 10px 20px; /* Adjust as needed, vertical padding and horizontal padding */
    font-size: 18px; /* Adjust as needed */
    margin: 20px auto; /* Adds space above the button and centers it horizontally */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}

.bid-h2 {
    margin-bottom: 5px;
}
.bid-h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px; /* Height of the footer */
}
.logistic-form {
    max-width: 800px;
    margin: 0;
    padding: 20px;
}

.logistic-form table {
    width: 100%;
    border-collapse: collapse;
}

.logistic-form tr {
    border-bottom: 1px solid #ddd; /* Horizontal border for rows */
}

.logistic-form td {
    padding: 10px;
    border: 0px solid #ddd;
    vertical-align: top;
}
.truck-details-container {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    padding-top: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#truck_details_section {
    margin-top: 20px;
}
.my-label {
    font-weight: bold;
}
input {
    margin: 5px;
}
button {
    margin: 5px;
}

.bid-header {
    top: 0;
    width: 100%;
    height: 60px; /* Set the height of your footer */
    background-color: #a1a1a1; /* Background color of footer */
    text-align: center;
    line-height: 60px; /* Center text vertically */
}

.bid-footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the height of your footer */
    background-color: #a1a1a1; /* Background color of footer */
    text-align: center;
    line-height: 60px; /* Center text vertically */
}
