[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=admin
Group=ubuntu
ExecStart=/home/ubuntu/miniconda3/bin/python3 /home/ubuntu/Workplace/odoo/odoo-bin --config /home/ubuntu/Workplace/odoo/debian/odoo.conf --logfile /var/log/odoo/odoo-server.log
KillMode=mixed

[Install]
WantedBy=multi-user.target

